/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url('https://www.energianafruta.com.br/uploads/slides/2019/12/energia-na-fruta.jpg');
    background-size: cover;
    background-attachment:fixed;
    font-family:'Rosario', sans-serif;
    height: 100vh; 
    font-size: 12px;
}

/* se a tela tiver pelo menos 400px vai carregar esses estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breackpoint */
@media (min-width: 600px) {
  body {
    background-attachment: fixed;
    font-size: 18px;
    background-size:cover;
  }
}

/* breakpoint */
@media (min-width: 1220px) {
  body {
    font-size: 20px;
  }
}

header {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.menu {
  background-color: rgb(64, 3, 77);
  position: fixed;
  padding-left: 350px;
  width: 100vw;
  top: 0;
  z-index: 1;
}
  
.menu ul {
  display:flex;
  justify-content: space-around;
  margin-left:60px;
}
  
.menu li {
  list-style:none;
}
 
.menu a {
display: block;
padding: 10px 20px;
transition: background-color 1s, color 1s;
}

.menu a:active,
.menu a:hover {
  background-color: white;
  color: black;
}

a{
   color: white;
   text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
 
.titulo {
  transform: scale(0.2) translateY(50vh); 
  opacity: 0;
  animation: 1s ease 500ms animacaoTitulo forwards; 
}

@keyframes animacaoTitulo {
  from {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0); 
    opacity: 1;
  }
}

.site-subtitle,
.site-title {
  text-align: center;
  color: rgb(64, 3, 77); 
  text-shadow: yellow 0.1em 0.1em 0.2em;
}
 
.site-title {
  font-size: 6em;
  font-family:'Cantata One', serif;
}

.site-subtitle {
  font-family:'Merienda One', cursive;
  line-height: 1.8em;
  font-size:2.5em;
}

.sobre,
.contato, 
.portfolio {
  padding: 2em;
  min-height: 100vh; 
  color:white;
  font-family:'Rosario', sans-serif;
}

@media (min-width: 1200px) {
 .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

.sobre h2,
.contato h2,
.portfolio h2 {
  font-family:'Rosario', sans-serif;
  margin-bottom: 1em;
  font-size: 2em;
  color: white;
}

.sobre p {
  color: white;
  text-indent: 1.4em;
  margin-bottom: 1.4em;
  text-align: justify;
}

.sobre a {
  color: white;
}

.sobre a:hover {
  background-color: rgb(247, 247, 105);
  text-decoration: none;
  color: white
}

.sobre .avatar {
margin-left: 2em;
}

@media (min-width: 600px) {
  .sobre .avatar {
    float: right;
  }
}

.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(2, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}

.flip-card {
  height:180px;
  perspective: 1000px;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 3s;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(64, 3, 77);
  height: 180px;
  width: 100%;
  transform: rotateY(180deg);
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: left bottom;
  transition: transform 500ms;
}

figcaption {
  font-weight:bold;
}

/*.img-portfolio:hover {
  transform: scale(1.2) rotate(-2deg);
}*/

.contato .icons {
  text-align: center;
}

.contato a {
  color: white;
  font-size: 4em;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover {
text-decoration:none;
text-shadow: 0px 0px 20px rgb(64, 3, 77);
}

section#contato {
  display: block;
  text-align: center;
}

#copyright {
	overflow: hidden;
	padding: 1.87em 0em;
}

#copyright p {
	text-align: center;
	font-size:2vh;
}