/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url('https://wallpapercave.com/wp/wp4470190.jpg');
    background-size: auto auto;
    font-family:'Handlee', cursive;
    height: 100vh; 
    font-size: 12px;
}

/* se a tela tiver pelo menos 400px vai carregar esses estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breackpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1220px) {
  body {
    font-size: 20px;
  }
}

header {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.menu {
  background-color: black;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}
  
.menu ul {
  display:flex;
  justify-content: space-around;
}
  
.menu li {
  list-style:none;
}
 
.menu a {
display: block;
padding: 10px 20px;
transition: background-color 1s, color 1s;
}

.menu a:active,
.menu a:hover {
  background-color: white;
  color: black;
}

a{
   color: white;
   text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
 
.titulo {
  transform: scale(0.2) translateY(50vh); 
  opacity: 0;
  animation: linear 2s animacaoTitulo forwards; 
}

@keyframes animacaoTitulo {
  0% {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0); 
    opacity: 1;
  }
}

.site-subtitle,
.site-title {
  text-align: center;
  color: white;
}
 
.site-title {
  font-size: 4em;
  font-family: 'Courgette', cursive;
}

.site-subtitle {
  font-family: 'Handlee', cursive;
  line-height: 1.8em;
}

.contato, 
.portfolio {
  padding: 2em;
  min-height: 100vh;
}

.contato h2,
.portfolio h2 {
  font-family: 'Handlee', cursive;
  margin-bottom: 2em;
  font-size: 2em;
  color: white;
}

.portfolio .grid {
  display: grid;
  gap: 2em;
  color: white
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(2, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 240px;
  object-fit: cover;
  object-position: left bottom;
  transition: transform 500ms;
}

.img-portfolio:hover {
  transform: scale(1.2)
}

.contato .icons {
  text-align: center;
}

.contato a {
  color: white;
  font-size: 4em;
  transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover {
text-decoration:none;
text-shadow: 0px 0px 20px coral;
}